body{
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#ac9cc9,#606992);
    user-select: none;
}
.blurr{
    font-family:  Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: rgb(0, 0, 0);
    filter:blur(10px);
    transition: 0.5s;
    cursor: pointer;
}
.blurr:hover{
    filter: blur(0px);
}
.card{
    background-color: #b3b7c4;
}
.text-start{
    background-color: transparent;
     
}
